<div class="book-card">
  <a href="/book/<%= book.slug %>" class="book-card__cover">
    <% if (book.cover_image) { %>
    <img src="<%= book.cover_image.replace(/\.jpg$/, '-md.jpg') %>"
         alt="<%= book.cover_image_alt || book.title %>" loading="lazy">
    <% } else { %>
    <div class="book-card__no-cover">
      <span><%= book.title.slice(0, 2).toUpperCase() %></span>
    </div>
    <% } %>
  </a>
  <div class="book-card__info">
    <h3 class="book-card__title">
      <a href="/book/<%= book.slug %>"><%= book.title %></a>
    </h3>
    <% if (book.authors && book.authors.length > 0) { %>
    <p class="book-card__authors">
      <% book.authors.forEach(function(a, i) { %>
      <a href="/books/author/<%= a.slug %>"><%= a.name %></a><% if (i < book.authors.length - 1) { %>, <% } %>
      <% }) %>
    </p>
    <% } %>
    <% if (book.avg_rating) { %>
    <div class="book-card__rating">★ <%= book.avg_rating %> <span>(<%= book.rating_count %>)</span></div>
    <% } %>
    <% if (book.price) { %>
    <p class="book-card__price">₹<%= book.price %></p>
    <% } %>
  </div>
</div>
